.information {
  background: white;
  margin-bottom: 3rem;
}
.information .title {
  color: var(--bs-secondary);
  background-color: rgba(var(--bs-primary-rgb), 0.05);
  padding: 0.75rem;
  border-radius: 10px;
}
.information .subtitle {
  color: var(--bs-primary);
  padding: 0.5rem;
}
.information .anchor-section {
  position: relative;
  z-index: -1;
  padding-top: 9rem;
  margin-top: -9rem;
}
.information h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media (max-width: 1200px) {
  .information .anchor-section {
    padding-top: 9rem;
    margin-top: -9rem;
  }
}

@media (max-width: 992px) {
  .information .anchor-section {
    padding-top: 7rem;
    margin-top: -7rem;
  }
}

@media (max-width: 767px) {
  .information .anchor-section {
    padding-top: 22rem;
    margin-top: -22rem;
  }
}

@media (max-width: 576px) {
  .information .anchor-section {
    padding-top: 21rem;
    margin-top: -21rem;
  }
}
