.information {
    background: white;
    margin-bottom: 5rem;
  }
  .information .title {
    color: var(--dark);
    margin-bottom: 2.5rem;
  }
  .information .item {
   display: flex;
   align-items: center;
   margin-bottom: 2rem;
   color: var(--medium);
  }
  .information .item .icon {
    font-size: 2rem; 
    margin-right: 1rem; 
    color: var(--primary);
  }
  .information .item .desc {
    text-align: left;
  }
  .information .anchor-section {
    position: relative;
    padding-top: 10rem;
    margin-top: -10rem;
}

  
  