form {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(var(--secondary-rgb) / 2%);
}

.form-label {
  font-weight: bold;
}

button {
  width: 100%;
}

.form-control {
  margin-bottom: 1rem;
}

.custom-checkbox .form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.custom-checkbox .form-check-input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgb(var(--primary-rgb) / 25%);
}

.custom-checkbox .form-check-label {
  /* color: var(--primary); */
}

/* Custom styles for form inputs */
input.form-control,
.form-control {
  /* color: var(--primary); */
  border-color: var(--primary);
  background-color: transparent;
}

input.form-control:focus,
.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgb(var(--primary-rgb) / 25%);
}

/* Optional: Style for date input icon */
input.form-control::-webkit-calendar-picker-indicator,
.custom-input .form-control::-webkit-calendar-picker-indicator {
  /* filter: invert(50%) sepia(100%) saturate(300%) hue-rotate(190deg); */
}
