form {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  border: 1px solid rgba(var(--bs-primary-rgb), 0.5);
  border-radius: 10px;
  /* background-color: rgb(var(--bs-secondary-rgb), 0.05); */
}

.form-label {
  font-weight: bold;
}

button {
  width: 100%;
}

.form-control {
  margin-bottom: 1rem;
}

.custom-checkbox .form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.custom-checkbox .form-check-input:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.25);
}

/* Custom styles for form inputs */
input.form-control,
.form-control {
  /* color: var(--bs-primary); */
  border-color: var(--bs-primary);
  /* background-color: transparent; */
}

input.form-control:focus,
.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.2rem rgba(var(--bs-primary-rgb), 0.25);
}
