.services {
    background: white;
    margin-bottom: 3rem;

  }
  
  .services .title {
    /* font-weight: 900; */
    color: var(--dark);
    margin-bottom: 2.5rem;
  }
  .services .item {
   display: flex;
   align-items: center;
   margin-bottom: 2rem;
   color: var(--medium);
  }
  
  .services .item .icon {
    font-size: 2rem; 
    margin-right: 1rem; 
    color: var(--primary);
  }
  .services .item .desc {
    text-align: left;
  }
  .services .anchor-section {
    position: relative;
    padding-top: 10rem;
    margin-top: -10rem;
}

@media (max-width: 1200px) {
  .services .anchor-section {
    padding-top: 10rem;
    margin-top: -10rem;
  }
}

@media (max-width: 992px) {
  .services .anchor-section {
    padding-top: 10rem;
    margin-top: -10rem;
  }
}

@media (max-width: 768px) {
  .services .anchor-section {
    padding-top: 22rem;
    margin-top: -22rem;
  }
}

@media (max-width: 576px) {
  .services .anchor-section {
    padding-top: 22rem;
    margin-top: -22rem;
  }
}
  