.App {
  text-align: center;
}

/* ** Default Colors */
/* TODO what are the colors for the */
/* Body {
  --primary: #0066fe; 
  --secondary: #f36d66;
  --black: #0c1848;
  --light: #f5fafb;
  --medium: #0c18487a;
  --light-blue: #0066fe17;
  --red: #f36d66;
} */
.safe-area {
  display: flex;
  padding: 2.75rem 0.75rem 0.75rem 0.75rem;
  flex-direction: column;
}

/* ! Development ONLY to test Grids */
/* 
body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
