/* Custom styles for the accordion */

.accordion {
  /* --bs-accordion-btn-color: var(--bs-primary); */
}
.accordion-body {
  /* color: var(--bs-gray-700);  */
}

.accordion-header .accordion-button {
  color: var(--bs-primary);
  /* background-color: rgba(var(--bs-secondary-rgb), 0.05); */
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.accordion-header .accordion-button:not(.collapsed) {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.2);
}

.accordion-header .accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.4); /* Secondary color focus shadow */
}

/* Custom styles for the accordion icons */
.accordion-button::after {
  /* Set the color of the icon */
  color: white; /* Or any other color you want, e.g., red, blue, etc. */

  /* Ensuring the icons are visible */
  filter: brightness(0) invert(1); /* This line will invert the black color to white */
}

/* Styling for when the accordion item is expanded */
.accordion-button:not(.collapsed)::after {
  /* You might want to change the color when the accordion is not collapsed (i.e., it is open) */
  color: white; /* Maintain consistent color or change if desired */
  filter: brightness(0) invert(1); /* Adjust or maintain for visibility */
}
